* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header-container {
    margin-bottom: 2rem;
    align-items: center;
}

.main-header-container,
.footer-container {
    padding: .75rem;
    background-color: #f2f2f284;
    }

main {
    width: 95%;
    margin: 0 auto;
}

.main-container,
.nav-container,
.header-container,
.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-container {
    justify-content: space-between;
}

.main-container,
.item-4,
.contact-info {
    padding: .25rem;
}

.footer-container{
    background-color: #f2f2f284;
}

.profile_pic {
    width: 75%;
    margin-top: 2rem;
}

.name-nav {
    display: flex;
    justify-content: space-between;
}

p {
    line-height: 1.5;
    margin-top: 0;
    padding: .5rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 5px;
    font-weight: 500;
}
nav {
    text-align: center;
}

h2 {
    font-size: 16px;
    margin: 2rem 0 0.5rem;
}


/* 320p TASKS */
/*  2) CHECK SPACE BETWEEN ITEMS (img under "portfolio"; and footer is all thats left)
    3) MATCH FONT COLORS
    4) ADD BOTTOM BORDER BETWEEN "contact-info" and "footer"
    5) Space out contact info and add font weight
    6) Match font w/google font
    7) Remove underline from links
    
    
    */