/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}
body {
    margin: 0 auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
}

a {
    color: gray;
}
a:link {
    text-decoration: none;
}

p {
    line-height: 1.5;
    margin-top: 0;
    padding: .5rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: beige;
    padding: 0.5rem;
    margin-bottom: 5px;
    font-weight: 900;
}

nav {
    text-align: center;
}

h1 {
    color: beige;
}

h2 {
    font-size: 1.1rem;
    margin: 2rem 0 0.5rem;
    color: rgb(113, 112, 112);
}

h3 {
    font-size: 1rem;
    margin-top: 4rem;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.student-name {
    padding-left: 1.25rem;
}

.name-nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px rgb(225, 222, 222) solid;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 900;
    background-color: lightslategray;

}

.name-nav p {
    color: beige;

}

.nav-bottom {
    display: none;
}

/* ---- Layout Containers ---- */

.main-header-container {
    margin-bottom: 2rem;
    align-items: center;
}

.main-header-container,
.footer-container {
    padding: 0 0 1rem 0;
    background-color: #f8f8f8;
}

.nav-container,
.header-container,
.footer-container {
    display: flex;
    flex-direction: column;
}

.header-container {
    /* NEGATIVE MARGIN */
    /* margin: 0 -5%; */
    background-color: lightslategray;
}

.footer-container {
    justify-content: space-between;
    padding-bottom: 0;
}


.item-4,
.contact-info {
    padding: .25rem;
}

.footer-container {
    background-color: #f8f8f8;
}

.sec-skills {
    background-color: #444444;
    box-shadow: 0 3px 10px gray;;
}

/* ---- Page Elements ---- */

a:hover {
    text-decoration: underline;
  }

main p {
    margin-bottom: 2.3rem;
}
 
.gallery {
    padding: 0;
    font-size: 0.95rem;
}
.portfolio,
.skills-h2 {
    margin-top: 3rem;
    font-weight: 900;
}

.skills-h2 {
    padding-top: 3rem;
}

.p-skills {
    padding: 1rem;
}
.wt-skills {
    color: white;
}
.contact-info p {
    margin-bottom: 0;
}

.js-skills {
    margin-bottom: 0;
}

.profile_pic {
    width: 70%;
    margin: 2rem 0 1rem 0;
}

.marketing-pic,
.html-pic {
    margin-top: 2.5rem;
}

.nav-container li a {
    color: lightslategray;
}

.gray {
    color: gray;
}

.black {
    color: rgb(70, 69, 69);
    font-size: 0.8rem;
    font-weight: 900;
}

.contact,
.search,
.map {
    padding-left: 0;
    padding-right: 0;
    font-size: .98rem;
}

.top a {
    color: beige;
}

.top {
    padding-left: 2.5rem;
}

/* ================================= 
  Media Queries
==================================== */

/* ---- 768px Tablet ---- */


@media screen and (min-width: 768px) {
    .nav-container {
        flex-direction: row;
        justify-content: center;
    }

    .nav-container li a {
        color: beige;
    }

    .name-nav {
        padding-bottom: 3rem;
    }

    .student-name {
        padding-left: 1.5rem;
    }

    .nav-bottom {
        display: contents;
        padding-right: 1rem;
    }

    .top {
        display: none;
    }

    li {
        background: none;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #bio {
        flex-direction: row-reverse;
        margin-top: 2rem;
    }

    .main-container,
    #bio,
    .nav-bottom {
        display: flex;
    }

    .nav-bottom {
        justify-content: flex-end;
        margin-top: 0;
    }

    .nav-bottom li a {
        color: beige;
    }

    .main-container {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .profile_pic {
        margin: 0 1rem 0 0;
        width: 37%;
    }

    .item-4 {
        text-align: left;
        margin: 0px 2rem;
        padding: 0;
        font-size: 1.1rem;
    }

    .main-header-container {
        padding-bottom: 4rem;
    }

    .mc-flex {
        flex: 0 335px;
        
    }

    .marketing-pic,
    .html-pic {
        margin-top: 0;
    }
    
    .contact-info {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    h3,
    .contact,
    .contact-info p {
        font-size: 1.1rem;
    }

    .portfolio,
    .skills-h2 {
        margin-bottom: 3rem;
    }

    .mc-skills {
        flex: 0 33%;
    }

        
}

/* ---- 1024px Desktop ---- */


@media screen and (min-width: 1024px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 3rem;
    }

    .nav-container {
        padding-right: 2rem;
    }
    h1 {
        margin: 1rem 0 1rem 4rem;
    }

    .name-nav {
        padding-bottom: 0.5rem;
    }
    .item-4 {
        margin: 0 3rem 0 4rem;
        font-size: 1.2rem;
    }

    body {
        background-color: #f8f8f8;
    }

    main {
        background-color: white;
        width: 93%;
    }

    .main-container {
        padding: 0 2rem;
        justify-content: flex-start;
    }

    .mc-flex-2,
    .mc-flex-5 {
        margin: 0 1rem;
    }

    .mc-flex {
        flex: 0 32%;
    }

    .portfolio,
    .skills-h2 {
        padding-top: 4rem;
    }

    .contact-info {
        padding-left: 14.5rem;
        padding-right: 14.5rem;
    }


}








